<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>560236352289-1vfse515euko7d21cmfdnmpl8hncjcjg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.560236352289-1vfse515euko7d21cmfdnmpl8hncjcjg</string>
	<key>API_KEY</key>
	<string>AIzaSyB9YwutA6k06jZ5UP7KiI0_LLtMW6Q5xr8</string>
	<key>GCM_SENDER_ID</key>
	<string>560236352289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.std.flutterTestPush</string>
	<key>PROJECT_ID</key>
	<string>app-push-12cac</string>
	<key>STORAGE_BUCKET</key>
	<string>app-push-12cac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560236352289:ios:e52bd2a146cb906ad2a460</string>
</dict>
</plist>